* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(121, 114, 114);
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.card {
  height: 620px;
  width: 356px;
  border-radius: 2rem;
}
main {
  background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?q=80&w=859&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  border-radius: 1rem 1rem 0 0;
  color: white;
}
.mainh3 {
  color: rgb(248, 228, 228);
  font-size: 14px;
  position: relative;
  top: 9.5rem;
  left: 19px;
}
.mainh3 p {
  position: relative;
  left: -5px;
  font-size: 11px;
}
main button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: relative;
  left: 1rem;
  top: 1rem;
}
.location {
  font-size: 100px;
}
.Availiable,
.Availiable1,
.Availiable2 {
  top: 5px;
  position: relative;
  /* color: #ec407a; */
}
.Availiable {
  color: #ec407a;
}
.Availiable1 {
  color: rebeccapurple;
}
.Availiable2 {
  color: green;
}
.small-sect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
section {
  height: 50%;
  background-color: white;
  text-align: center;
}
footer {
  background-color: #ec407a;
  padding: 0;
  margin: 0;
}
.mitan1 {
  cursor: pointer;
  color: rebeccapurple;
  position: relative;
  left: 5.5rem;
}
.mitan2 {
  cursor: pointer;

  position: relative;
  top: -12.26rem;
  right: 5rem;
}
.mitan2 p {
  color: black;
}

.mitan2 p span {
  color: rebeccapurple;
}
.border {
  border: 4px solid yellow;
}
.date {
  display: flex;
  flex-direction: column;
  height: 100px;
  font-size: 15px;
  color: white;
  padding: 15px;
  position: relative;
  height: 40px;
}
.date2,
.Tickets,
.total {
  position: relative;
  display: flex;
  font-size: 15px;
}
.btn {
  font-weight: bold;
  padding: 1rem;
  position: relative;
  font-size: 15px;
  left: 16.5rem;
  bottom: 1.3rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: rgb(22, 22, 22);
}
.screen-container {
  position: relative;
  left: 5rem;
}
.screen {
  color: gray;
  position: relative;
  right: -0.5rem;
  padding: 10px;
}
.date2 span {
  position: relative;
  left: 3rem;
}
.Tickets span {
  position: relative;
  left: 2rem;
}
.total span {
  position: relative;
  left: 1.8rem;
}

.seats.pink {
  color: #ec407a;
}
.mitan1 span.black,
.mitan2 span.black {
  color: green;
}
.arrow {
  cursor: pointer;
}
.arrow:hover {
  color: green;
}
.btn:hover {
  opacity: 0.7;
}
